@use "../../styles/global.scss" as *;

.navbar {
    &__wrapper {
        @include margin;
    }
    &__links {
        @include display-flex(row, center, flex-end);
        @include component-margin-top-bottom;
    }
    &__link-item {
        margin-left: 1rem;
        padding-bottom: 0.5rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0.2rem;
            border-radius: 0.5rem;
            background-color: $color-icon;
            transition: transform 300ms ease-in-out;
            transform: scaleX(0);
        }
        &:hover::before,
        :focus::before {
            transform: scaleX(1);
            font-weight: 600;
        }
        
    }
}