@use "../../styles/global.scss" as *;

.navbar {
    width: 100%;
    transition: box-shadow .7s ease-in;
    background-color: inherit;
    z-index: 1000;
    &__wrapper {
        @include margin;
        position: relative;
    }
    &__links {
        @include display-flex(row, center, flex-end);
        @include component-padding-top-bottom;
    }
    &__link-item {
        margin-left: 1rem;
        padding: 0.5rem 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0.2rem;
            border-radius: 0.5rem;
            background-color: $color-icon;
            transition: transform 300ms ease-in-out;
            transform: scaleX(0);
        }
        &:hover::before,
        :focus::before {
            transform: scaleX(1);
            font-weight: 600;
        }
    }
    &__switch-container {
        position: absolute;
        top: 1rem;
    }
}

.on-scroll {
    position: fixed;
}

.active {
    position: relative;
    margin-left: 1rem;
    padding: 0.5rem 0;
    transition: all 0.3s ease-in;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0.2rem;
            border-radius: 0.5rem;
            background-color: $color-icon;
            transform: scaleX(1);
        }
}